body {
	background-color: cornflowerblue;
/*	background-size: auto;*/
	height: 60%;
	font-family: 'Montserrat', sans-serif;
}

nav {
	position: fixed;
}

#username, #email, #password, #signin-username, #signin-password {
	margin-bottom: 1em;
}

h1 {
	color: white;
	text-align: center;
	font-size: 500%;
}

#signedin {
	display: inline;
  list-style-type: none;
}

h4 {
	text-align: center;
	color: white;
}

.form-control {
	width: auto;
}

@media (max-width: 750px) {
	.navbar-form {
		margin-top: 0;
		border-top: none;
	}
}
#tweet-input {
	width: 100%;
}

#all-tweets {
	background-color: white;
}

li {
	list-style-type: none;	
}

.tweet-user {
	padding-bottom: 1em;
}