body {
	background-size: cover;
	height: 60%;
	font-family: 'Montserrat', sans-serif;
}

nav {
	position: fixed;
}

#username, #email, #password, #signin-username, #signin-password {
	margin-bottom: 1em;
}

h1 {
	color: white;
	text-align: center;
	font-size: 500%;
}

#signedin {
	display: inline;
  list-style-type: none;
}